@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Jost', sans-serif;
  }
}

@layer components {
  /* configure tailwind container */
  .container {
    @apply px-6 md:px-10 xl:px-6 mx-auto xl:max-w-[1159px];
  }

  .overlaysApp {
    height: 584px;
    width: 876px;
  }

  .overlaysApp__circle {
    width: 292px;
    height: 292px;
    border-radius: 100%;
    background: linear-gradient(
      90deg,
      rgba(93, 2, 2, 0.0001) 0%,
      rgba(93, 2, 2, 0.497569) 100%
    );
    mix-blend-mode: normal;
    opacity: 0.31;
  }
}